.card-wrapper{
  background: #f2f2f2;
  border-radius: 3px;
  //overflow: scroll;
  display: inline-block;
  border: 1px solid black;
  width: 50vw;
  vertical-align: top;
  height: auto;
  //max-height: 50vh;
}


.card-container{
  position: relative;
  background: #eef1f6;
  border-radius: 3px;
  margin: 1rem  0;
  //overflow: scroll;
  display: inline-block;
  border: 1px solid black;
  width: 50vw;
  vertical-align: top;
  height: auto;
  padding-bottom: 4rem;
  //max-height: 50vh;

  ul{
    li{
      line-height: 2rem;
    }
  }


}

.card-header{
  padding: 2rem;
  list-style: none;

  display: inline-block;

  h6{
    display: inline-block;
    background: aqua;
  }
}

