#hero {
  position: relative;
  z-index: 0;
  border-bottom: 1vh solid white;

  .overlay {
    position: absolute;
    /* min-height: 100vh; */
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #2a1752;
    z-index: 10;
    opacity: 0.3;
  }

  .hero-bg {
    position: relative;
    width: 100%;
    z-index: 0;

    img {
      width: 100%;
    }

    :after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      height: 100%;
      width: 100%;
      background: pink;
    }
  }

  image {
    width: 100%;
  }
}

.title {
  font-family: "Dolce Vita";
  position: absolute;
  color: #e5edf3;
  z-index: 100;
  font-size: 10vw;
  margin-top: 5%;
  left: 4%;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
}
