#hero {
  min-height: 100vh;
  z-index: 1;

  &:after {
    content: "";
    position: absolute;
    width: 100vw;
    height: 100vh;
    background-size: 100%;
    background-repeat: no-repeat;
    z-index: 0;
    background-image: url("https://timocampobucketstuff.s3.amazonaws.com/cars-sports-tuning-toyota-supra-1920x1080-61716-web.jpg");
    opacity: 0.85;
  }

  .title {
    position: absolute;
    color: #bbc1c5;
    z-index: 10;
    font-size: 10vw;
    margin-top: 5vh;
    left: 4%;
    text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  }

  image {
    width: 100%;
  }
}
