#nav-bar {
  position: relative;
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
  min-height: 6vw;
  border-bottom: 1px solid #bbbac7;

  a {
    text-decoration: none;
    color: #5b7f81;
  }

  .links {
    position: absolute;
    right: 0;
    margin: 0 2rem;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5vw;
  }

  .links li {
    display: inline-block;
    margin: 0 1rem;
    cursor: pointer;
  }
}

.nav-company-logo {
  display: inline-block;
  margin: auto;
  position: absolute;
  top: 50%;
  left: 2%;
  transform: translateY(-50%);

  p {
    font-size: 3vw;
  }
}
